@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>All <a asp-controller="Developer" asp-action="Index">Developers</a>.</p>
    <p>All <a asp-controller="QA" asp-action="Index">QAs</a>.</p>
</div>
